<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VS Recoder</title>
</head>

<body>
    <div id="app" class="container-fluid">
        <div ref="chart" style="width: 750px;height:250px;margin-top:40px;"></div>
    </div>
    <script src="../../lib/vue@2.6.0.js"></script>
    <script src="../../lib/echarts/echarts.min.js"></script>
    <script src="../../lib/echarts/dark.js"></script>
    <script src="./vsrecoder.js"></script>
</body>

</html>