<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VS Recoder</title>
</head>

<body>
    <div id="app" class="container-fluid">
        <div ref="chart" style="width: 600px;height:400px;"></div>
        <button @click="test">test</button>
    </div>
    <script src="../../lib/vue@2.6.0.js"></script>
    <script src="../../lib/echarts/echarts.min.js"></script>
    <script src="../../lib/echarts/dark.js"></script>
    <script src="./vsrecoder.js"></script>
</body>

</html>